* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    width: 12rem;
    text-align: center;
    margin: auto;
}

.display-top {
    width: 12rem;
    height: 1.5rem;
    border: 1px solid black;
}
.display-bottom {
    width: 12rem;
    height: 3em;
    border: 1px solid black;
}

.button {
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
}

#clear-button {
    width: 6rem;
}

#equals-button {
    width: 6rem;
}